html{
  width: 100%;
  scroll-behavior: smooth;
}
body{
  background-color: whitesmoke;
}

.navbar{
  background: black;
  padding-top: 0%;
  margin-top: 0%;
  overflow: auto;
}
.navbar a{
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 0.8em;
  text-decoration: none;
}
.nav a.right {
  float: right;
}

a:hover{
  background-color:dimgrey;
  color: cornsilk;
}


img{
  height: 14em;
  width: 14em;
  border-radius: 50%;
}

.Header{
  text-align: center;
  font-size: larger;
  padding: 2em 2em 2em;
  background-image: url(./images/4002676.jpg);
  background-repeat: no-repeat;
  color: whitesmoke;
}
.Header span{
  color: grey;
}

.about{
  margin: 0% 0% 10%;
  padding: 0;
  margin-top: 0;
  font-size: large;
}

h2{
  text-align: center;
}

.img1{
  float: left;
}

pre{
  text-align: center;
}
aside{
  position: static;
  width: 25%;
  margin-left: 5%;
  float: right;
  margin-bottom: 20%;
  background-color:lightslategray;
}
.passion{
  margin-top: 5%;
  margin-bottom: 10%;
  font-size: larger;
}
.academic{
  text-align: unset;
  margin-bottom: 5em;
}
.TextWrap{
  float: left;
  margin: 5px;
}

.Contacts{
  background-color: lightslategrey transparent;
  color: black;
  text-decoration: none;
}

.list{
  display: inline;
  padding: 1%;
  margin-bottom: 8em;
}
.map{
  float: left;
  width: 100%;
}
li{
  display: inline;
  padding: 1em;
}
 