@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300&display=swap');

html{
  font-family: 'Zilla Slab', serif;
}
.navbar{
  background: black;
  padding-top: 0%;
  margin-top: 0%;
  overflow: auto;
}
.navbar a{
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 0.8em;
  text-decoration: none;
}
.nav a.right {
  float: right;
}

a:hover{
  background-color:dimgrey;
  color: cornsilk;
}
.Header{
  text-align: center;
  font-size: larger;
  padding: 2em 2em 2em;
  background-image: url(./images/4002676.jpg);
  background-repeat: no-repeat;
  color: whitesmoke;
}
.Header span{
  color: grey;
}

.about{
  margin: 0% 0% 10%;
  padding: 0;
  margin-top: 0;
  font-size: large;
}

h2{
  text-align: center;
}
pre{
  text-align: center;
}
aside{
  position: static;
  width: 25%;
  margin-left: 5%;
  float: right;
  margin-bottom: 3%;
  background-color:lightslategray;
}
.passion{
  margin-top: 5%;
  margin-bottom: 10%;
  font-size: larger;
}
.academic{
  text-align: unset;
  margin-bottom: 5em;
}
.Contacts{
  background-color: lightslategrey transparent;
  color: black;
  text-decoration: none;
}
.map{
  float: left;
  width: 100%;
}
.hobbies{
  padding: 0.2em;
  float: left;
  size: 5em 5em 5em;
}
.interest{
  padding-bottom: 8em;
  padding-left: 1.5em;
  padding-right: 1.5em;
}
.hobby{
  text-align: center;
}
.header2{
  background-color: rgb(31, 25, 25);
  color: whitesmoke;
  padding: 2em 2em 2em;
}
.gym{
  padding-bottom: 4em;
}
.reviews{
  background-color: black;
  color: whitesmoke;
  width: 100%;
  padding-top: 0;
  margin-top: 0;
  padding-bottom: 0%;
  margin-bottom: 0%;
}
.avat{
  height: 3em;
  border-radius: 50%;
  border: 0.2em solid gray;
  margin-left: 47%;
  margin-right: auto;
}
.incognito{
  text-align: center;
  padding: 2em;
}
.port{
  padding-bottom: 4em;
}
.resort{
  padding-bottom: 4em;
}
.Hawaii{
  padding-bottom: 4em;
}
.header3{
  background-image: url(./images/header2.jpg);
  background-size: 100% 15em;
  background-repeat: no-repeat;
  padding: 1em 1em 1em;
  font-size: large;
  text-align: center;
  color: whitesmoke;
}
.software{
  padding-top: 2em;
}
@media screen and (max-width: 650px) {
  .hobbies {
    width: 50%;
  }
  .aside{
    width: 100%;
    display: none;
  }
  .Contacts{
    width: 85%;
  }
  body{
     width: 100%;
   }
  .pre{
    text-align: left;
  }
}
